<section class="chooseus-style-two about-page p_relative">
    <div class="shape-3 p_absolute t_0 r_0" style="background-image: url(~/Optcare-Pack/Optcare/assets/images/shape/shape-51.png);"></div>
    <div class="shape-2" style="background-image: url(~/Optcare-Pack/Optcare/assets/images/shape/shape-21.png);"></div>
    <div class="video-column" style="background-image: url(~/Optcare-Pack/Optcare/assets/images/background/video-bg-3.jpg);">
        <div class="video-inner">
            <div class="video-btn">
                <a href="https://www.youtube.com/watch?v=nfP5N9Yc72A&amp;t=28s" class="lightbox-image" data-caption=""><i class="fas fa-play"></i></a>
            </div>
        </div>
    </div>
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div class="content_block_five">
                    <div class="content-box mr_70">
                        <div class="sec-title light mb_35">
                            <span class="sub-title">Neden seçmelisiniz ?</span>
                            <h2 class="mb_25">İnsanların Halkalı Gözü Seçmesinin Önemli Nedenleri</h2>

                        </div>
                        <div class="inner-box">
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                    <div class="single-item p_relative d_block">
                                        <h4><a href="index-2.html">Kaliteli Personel</a></h4>
                                        <p>Kaliteli Personellerimizle hastanemiz son derece düzenli ve bakımlıdır.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                    <div class="single-item p_relative d_block">
                                        <h4><a href="index-2.html">Kaliteli Yardım</a></h4>
                                        <p>Uzman Hekimlerimiz ve Personellerimiz oldukça nazik ve yardımseverlerdir</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                    <div class="single-item p_relative d_block">
                                        <h4><a href="index-2.html">Uygun Fiyat</a></h4>
                                        <p>Bütçenize uygun fiyatlar ayrıca özel sağlık sigortalarınızla rahatça tercih edebilirsiniz</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                    <div class="single-item p_relative d_block">
                                        <h4><a href="index-2.html">Çözüm Odaklı</a></h4>
                                        <p>Alanında uzman doktorlarımızla rahatsızlıklarınız için çözüm odaklı tedavilerle tanışabilirsiniz.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>