<section class="funfact-section p_relative bg-color-2">
    <div class="auto-container">
        <div class="inner-container">
            <div class="counter-block-one wow slideInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                <div class="inner-box">
                    <div class="icon-box p_relative d_block fs_60"><i class="icon-25"></i></div>
                    <div class="count-outer count-box">
                        <span class="count-text" data-speed="1500" data-stop="90">0</span>
                    </div>
                    <p>Uzman Doktorlar</p>
                </div>
            </div>
            <div class="counter-block-one wow slideInUp animated" data-wow-delay="200ms" data-wow-duration="1500ms">
                <div class="inner-box">
                    <div class="icon-box p_relative d_block fs_60"><i class="icon-26"></i></div>
                    <div class="count-outer count-box">
                        <span class="count-text" data-speed="1500" data-stop="2.6">0</span>
                    </div>
                    <p>Farklı Servisler</p>
                </div>
            </div>
            <div class="counter-block-one wow slideInUp animated" data-wow-delay="400ms" data-wow-duration="1500ms">
                <div class="inner-box">
                    <div class="icon-box p_relative d_block fs_60"><i class="icon-27"></i></div>
                    <div class="count-outer count-box">
                        <span class="count-text" data-speed="1500" data-stop="35">0</span>
                    </div>
                    <p>Mutlu Hastalar</p>
                </div>
            </div>
            <div class="counter-block-one wow slideInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                <div class="inner-box">
                    <div class="icon-box p_relative d_block fs_60"><i class="icon-28"></i></div>
                    <div class="count-outer count-box">
                        <span class="count-text" data-speed="1500" data-stop="10">0</span>
                    </div>
                    <p>Ödüller Kazanın</p>
                </div>
            </div>
        </div>
    </div>
</section>