<section class="project-section p_relative">
    <div class="outer-container">
        <div class="project-carousel owl-carousel owl-theme owl-dots-none owl-nav-none">
            <div class="project-block-one">
                <div class="inner-box">
                    <figure class="image-box"><img src="~/Optcare-Pack/Optcare/assets/images/project/project-1.jpg" alt=""></figure>
                    <div class="view-btn"><a href="~/Optcare-Pack/Optcare/assets/images/project/project-1.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-33"></i></a></div>
                    <div class="text">
                        <h3><a href="index.html">Yaşayan Modern Tasarım</a></h3>
                        <span>Yerleşim</span>
                    </div>
                </div>
            </div>
            <div class="project-block-one">
                <div class="inner-box">
                    <figure class="image-box"><img src="~/Optcare-Pack/Optcare/assets/images/project/project-2.jpg" alt=""></figure>
                    <div class="view-btn"><a href="~/Optcare-Pack/Optcare/assets/images/project/project-2.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-33"></i></a></div>
                    <div class="text">
                        <h3><a href="index.html">Yaşayan Modern Tasarım</a></h3>
                        <span>Yerleşim</span>
                    </div>
                </div>
            </div>
            <div class="project-block-one">
                <div class="inner-box">
                    <figure class="image-box"><img src="~/Optcare-Pack/Optcare/assets/images/project/project-3.jpg" alt=""></figure>
                    <div class="view-btn"><a href="~/Optcare-Pack/Optcare/assets/images/project/project-3.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-33"></i></a></div>
                    <div class="text">
                        <h3><a href="index.html">Yaşayan Modern Tasarım</a></h3>
                        <span>Yerleşim</span>
                    </div>
                </div>
            </div>
            <div class="project-block-one">
                <div class="inner-box">
                    <figure class="image-box"><img src="~/Optcare-Pack/Optcare/assets/images/project/project-4.jpg" alt=""></figure>
                    <div class="view-btn"><a href="~/Optcare-Pack/Optcare/assets/images/project/project-4.jpg" class="lightbox-image" data-fancybox="gallery"><i class="icon-33"></i></a></div>
                    <div class="text">
                        <h3><a href="index.html">Yaşayan Modern Tasarım</a></h3>
                        <span>Yerleşim</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
