<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
            <a href="index.html" class="logo">
                <img src="~/kaiadmin-lite-1.2.0/assets/img/kaiadmin/logo_light.svg"
                     alt="navbar brand"
                     class="navbar-brand"
                     height="20" />
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-primary">
                <!-- Ana Sayfa -->
                <li class="nav-item">
                    <a href="/Hasta/Dashboard/Index">
                        <i class="fas fa-home"></i>
                        <p>Ana Sayfa</p>
                    </a>
                </li>

                <!-- Profilim -->
                <li class="nav-item">
                    <a href="/Hasta/MyProfile/UpdateProfile">
                        <i class="fas fa-user"></i>
                        <p>Profilim</p>
                    </a>
                </li>

                <!-- Randevu Al -->
                <li class="nav-item">
                    <a href="/Hasta/Appointments/Index">
                        <i class="fas fa-calendar-check"></i>
                        <p>Randevu Al</p>
                    </a>
                </li>
                <!-- Randevu Al -->
                <li class="nav-item">
                    <a href="/Hasta/Appointments/MyAppointments">
                        <i class="fas fa-calendar-check"></i>
                        <p>Randevularım</p>
                    </a>
                </li>

                <!-- Sonuçlarım -->
                <li class="nav-item">
                    <a href="/Hasta/Results/Index">
                        <i class="fas fa-file-medical-alt"></i>
                        <p>Sonuçlarım</p>
                    </a>
                </li>
                <!-- Çıkış Yap-->
                <li class="nav-item">
                    <a href="/Login/SignOut">
                        <i class="fa fa-power-off"></i>
                        <p>Çıkış Yap</p>
                    </a>
                    </li>
            </ul>
        </div>
    </div>
</div>
