@using EntityLayer.Concrete
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var fullName = user != null ? $"Dr. {user.FirstName} {user.LastName}" : "Doktor";
    var imageUrl = string.IsNullOrEmpty(user?.ImageUrl) ? "/images/default-user.png" : "/UserImages/" + user.ImageUrl;
}

<aside class="main-sidebar dark-bg">
    <section class="sidebar">
        <div class="user-panel black-bg">
            <div class="pull-left image">
                <img src="@imageUrl" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@fullName</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Çevrimiçi</a>
            </div>
        </div>

        <ul class="sidebar-menu" data-widget="tree">
            <li class="header dark-bg">Doktor Menüsü</li>
            <li><a href="/Doktor/Appointment/Index"><i class="fa fa-calendar-check"></i> <span>Randevularım</span></a></li>
            
            <li><a href="/Doktor/Model/Index"><i class="fa fa-upload"></i> <span>Retina Yükle</span></a></li>
            <li><a href="/Doktor/Glocom/Index"><i class="fa fa-upload"></i> <span>Glokom Yükle</span></a></li>
            <li><a href="/Doktor/Announcement/Index"><i class="fa fa-chart-bar"></i> <span>Duyurular</span></a></li>
            <li><a href="/Doktor/Profile"><i class="fa fa-user-md"></i> <span>Profilim</span></a></li>
            <li><a href="/Login/SignOut"><i class="fa fa-power-off"></i> <span>Çıkış Yap</span></a></li>
        </ul>
    </section>
</aside>
