<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
        <a href="/Admin/Dashboard/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div>Dashboard</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Announcement/Index/" class="menu-link disabled">
            <i class="menu-icon tf-icons bx bx-calendar-event"></i>
            <div>Duyurular</div>
        </a>
    </li>
    <!-- Blog Yönetimi -->
    <li class="menu-item">
        <a href="/Admin/Blog/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-news"></i>
            <div>Bloglar</div>
        </a>
    </li>

    <!-- Yorumlar -->
    <li class="menu-item">
        <a href="/Admin/Comment/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-comment"></i>
            <div>Yorumlar</div>
        </a>
    </li>

    <!-- Hastalar -->
    <li class="menu-item">
        <a href="/Admin/Patient/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-face"></i>
            <div>Hastalar</div>
        </a>
    </li>

    <!-- Doktorlar -->
    <li class="menu-item">
        <a href="/Admin/Doctor/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-user-circle"></i>
            <div>Doktorlar</div>
        </a>
    </li>

    <!-- Tıbbi Birimler -->
    <li class="menu-item">
        <a href="/Admin/Treatment/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-band-aid"></i>
            <div>Tıbbi Birimler</div>
        </a>
    </li>

    <!-- Mail Gönder -->
    <li class="menu-item">
        <a href="/Admin/Mail/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-mail-send"></i>
            <div>Mail Gönder</div>
        </a>
    </li>

    <!-- Roller -->
    <li class="menu-item">
        <a href="/Admin/Role/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-shield-quarter"></i>
            <div>Rol İşlemleri</div>
        </a>
    </li>

    <!-- Rezervasyon (yakında) -->
    <li class="menu-item">
        <a href="/Admin/Appointment/Index/" class="menu-link disabled">
            <i class="menu-icon tf-icons bx bx-calendar-event"></i>
            <div>Randevu Yönetimi (yakında)</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/ContactUs/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-comment"></i>
            <div>Mesajlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Login/Signout/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-comment"></i>
            <div>Çıkış Yap</div>
        </a>
    </li>
    
</ul>
