@using EntityLayer.Concrete
@model List<About>
<section class="cta-section p_relative bg-color-1">
    <div class="pattern-layer">
        <div class="pattern-1" style="background-image: url(~/Optcare-Pack/Optcare/assets/images/shape/shape-10.png);"></div>
        <div class="pattern-2" style="background-image: url(~/Optcare-Pack/Optcare/assets/images/shape/shape-11.png);"></div>
    </div>
    @foreach (var item in Model)
    {

        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                    <div class="image-box mr_25 mt_60">
                        <div class="shape" style="background-image: url(~/Optcare-Pack/Optcare/assets/images/shape/shape-31.png);"></div>
                        <figure class="image p_relative z_1"><img src="~/Optcare-Pack/Optcare/assets/images/resource/car-1.png" alt=""></figure>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                    <div class="content-box ml_35">
                        <div class="sec-title left mb_25">
                            <span class="sub-title">Acil İhtiyaç</span>
                            <h2>Bir doktora ihtiyacım var <br />Check up için Ara <span>Acil Servis</span></h2>
                        </div>
                        <div class="text">
                            <p>Tüm hizmetlerimiz %100 memnuniyet garantimizle desteklenmektedir. Personellerimiz profosyoneldir.</p>
                        </div>
                        <div class="support-box">
                            <div class="icon-box"><i class="icon-32"></i></div>
                            <h4>Acil Durumlar İçin</h4>
                            <h3><a href="tel:+90 551 598 44 06">@item.PhoneNumber</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</section>