<footer class="main-footer p_relative">
    <div class="footer-top">
        <div class="auto-container">
            <div class="top-inner">
                <ul class="footer-menu">
                    <li><a href="index.html">Yönetim</a></li>
                    <li><a href="index.html">Hakkımızda</a></li>
                    <li><a href="index.html">Şirket</a></li>
                </ul>
                <div class="footer-logo">
                    <figure class="logo"><a href="index.html"><img src="~/Optcare-Pack/Optcare/assets/images/footer-logo.png" alt=""></a></figure>
                </div>
                <ul class="footer-menu">
                    <li><a href="index.html">Kariyer</a></li>
                    <li><a href="index.html">Konum</a></li>
                    <li><a href="index.html">İletişim </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="widget-section">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                    <div class="about-widget footer-widget mr_40">
                        <div class="widget-title">
                            <h3>Hakkında</h3>
                        </div>
                        <div class="widget-content">
                            <p>2015 Yılından beri alanında uzman doktorlar hizmet vermektedir.</p>
                            <ul class="social-links clearfix">
                                <li><a href="index.html"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="index.html"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="index.html"><i class="fab fa-vimeo-v"></i></a></li>
                                <li><a href="index.html"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                    <div class="links-widget footer-widget ml_100">
                        <div class="widget-title">
                            <h3>Linkler</h3>
                        </div>
                        <div class="widget-content">
                            <ul class="links-list clearfix">
                                <li><a href="index.html">Hakkında</a></li>
                                <li><a href="index.html">Servisler</a></li>
                                <li><a href="index.html">İş</a></li>
                                <li><a href="index.html">Fırsatlar</a></li>
                                <li><a href="index.html">Konum</a></li>
                                <li><a href="index.html">Makale</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 footer-column">
                    <div class="links-widget footer-widget ml_30">
                        <div class="widget-title">
                            <h3>Servisler</h3>
                        </div>
                        <div class="widget-content">
                            <ul class="links-list clearfix">
                                <li><a href="index.html">Hakkında</a></li>
                                <li><a href="index.html">Servisler</a></li>
                                <li><a href="index.html">İş</a></li>
                                <li><a href="index.html">Fırsatlar</a></li>
                                <li><a href="index.html">Konum</a></li>
                                <li><a href="index.html">Makale</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                    <div class="contact-widget footer-widget ml_50">
                        <div class="widget-title">
                            <h3>İletişimler</h3>
                        </div>
                        <div class="widget-content">
                            <ul class="info clearfix">
                                <li>İstanbul,Halkalı</li>
                                <li><a href="tel:+90 551 598 44 06">+90 551 598 44 06</a></li>
                                <li><a href="mailto:oguz.abdussamet@std.izu.edu.tr">oguz.abdussamet@std.izu.edu.tr</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom centred">
        <div class="auto-container">
            <div class="copyright"><p><a href="index.html">Halkalı Göz</a> &copy; 2025 Tüm Hakları Saklıdır.</p></div>
        </div>
    </div>
</footer>